.project-card__header {
  display: flex;
  justify-content: space-evenly;
}
.project-card__article {
  border-radius: 8px;
  background: rgb(245, 245, 245, .9);
  margin-right: 10px;
  padding: 5px;
  margin-top: 10px;
  box-shadow: 4px 4px 10px black;
}

.palette__container {
  display: flex;
}