body {
   background-image: url('https://i.pinimg.com/originals/47/cc/03/47cc0364b00fda0ebf63b2ae641c0945.png');
}

main {
  text-align: center;
}
p {
  margin: 0px;
}
h1 {
  margin: 0;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.all-palettes__button {
  margin-bottom: 30px;
}
.log-out__button {
  margin-bottom: 30px;
}
.logo__image {
  margin-left: 245px;
  margin-right: 230px;
  margin-bottom: 30px;
}